@charset "UTF-8";   

*{

    padding: 0;
    margin: 0;
    
}


header{

    height: 70px;
    padding-top: 30px;
    text-align: center;
    color: white;
    background-color: royalblue;
}



nav{

    padding: 3px;
    background-color: mediumpurple;
}


nav a{

    color: white;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
}


h3{

    text-align: center;

}

table{

    text-align: center;
    margin: auto;
}


table tbody tr td{

    text-align: center;
    
}

button{

    width: 70px;

}


footer{

    position: fixed;
    bottom: 0;
    
    width: 100%;
    height: 40px;
    padding-top: 15px;
    text-align: center;
    color: white;
    background-color: steelblue;
    
}