@charset "utf-8";

*{
    padding: 0;
    margin: 0;
}


header {

    position: relative;

    height: 90px;
    width: 100%;
    background-color: rgb(143, 175, 235);

    padding-top: 40px;

    text-align: center;
    font-size: 30px;

}


nav {

    position: relative;

    height: 40px;
    width: 100%;
    background-color: slateblue;
    
    padding-top: 15px;

}

.navATag {

 
    color: white;

    padding-left: 25px;
    text-decoration: none;

}


#subTitle{

    padding-top: 10px;
    padding-bottom: 40px;

    text-align: center;
    font-size: 23px;


}

#data {

    margin-left: 10px;
    margin-right: 10px;

    padding-bottom: 100px;

}


table {

    margin: auto;
	text-align: center;

}

table tbody tr td{


	padding: 3px;
	
	
}




footer{

    position: fixed;
    bottom: 0;

    height: 50px;
    width: 100%;

    background-color: cadetblue;
    
    padding-top: 25px;

    text-align: center;
    font-size: 15px;
    color: white;

}
